@*@model VayCayPlannerWeb.Data.Models.Trip*@
@model VayCayPlannerWeb.Models.ViewModels.CreateTrip_vm

@{
    ViewData["Title"] = "Create+";
}

<h1>Create a new Trip</h1>

@*<h4>Trip</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TravelGroupId" class="control-label"></label>
                <select asp-for="TravelGroupId" asp-items="Model?.TravelGroups" class="form-select">
                    <option>Select Travel Group</option>
                </select>
                <span asp-validation-for="TravelGroupId" class="text-danger"></span>
            </div>
            <br />
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<form id="destinationForm" asp-controller="Destinations" asp-action="Create">
    <input type="submit" value="Create" id="tripId" name="Id" />
    @*<a class="dropdown-item" asp-controller="Destinations" asp-action="Create">Add Destinations</a>*@
</form>

@section Scripts{
    <script>
        //$(function(){
        //    $('.table').DataTable();
        //    ////https://datatables.net/examples/styling/bootstrap5
        //    $('.deleteBtn').click(function(e) {
        //        swal({
        //            title: "Are you sure?",
        //            text: "Are you sure you want to delete",
        //            icon: "warning",
        //            buttons: true,
        //            dangerMode: true
        //        }).then((confirm) => {
        //            if(confirm){
        //                var btn = $(this);
        //                var id = btn.data("id");
        //                $('#tripId').val(id);
        //                $('#deleteForm').submit();
        //            }
        //        });
        //    });
        //});
        $(function () {
            $('.destinationBtn').click(function (e) {
                swal({
                    title: "Add a Destination",
                    text: "Add a new Trip Destination",
                    icon: "information",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#tripId').val(id);
                        $('#destinationForm').submit();
                    }
                });
            });
        });

    </script>

}

